In [1]:
import pandas as pd
import numpy as np

In [2]:
filelist = ['birth.csv', 'breed.csv', 'report.csv', 'spec.csv','submission.csv']

# Read File

In [3]:
birth = pd.read_csv('./data/' + filelist[0])
breed = pd.read_csv('./data/' + filelist[1])
report = pd.read_csv('./data/' + filelist[2])
spec = pd.read_csv('./data/' + filelist[3])
submission = pd.read_csv('./data/' + filelist[4])
submission

D:\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

         ID   1
0       480 NaN
1       742 NaN
2       743 NaN
3       744 NaN
4       745 NaN
...     ...  ..
4258  37481 NaN
4259  37482 NaN
4260  37483 NaN
4261  37484 NaN
4262  37485 NaN

[4263 rows x 2 columns]

In [4]:
birth_index = ['乳牛編號', '分娩日期', '乾乳日期','犢牛編號1','犢牛編號2','母牛體重','登錄日期','計算胎次','胎次','分娩難易度','犢牛體型','犢牛性別','酪農場代號']
report_index = ['ID','資料年度','資料月份','酪農場代號','乳牛編號','父親精液編號','母親乳牛編號','出生日期','胎次','泌乳天數','乳量','最近分娩日期','採樣日期','月齡','檢測日期','最後配種日期','最後配種精液','配種次數','前次分娩日期','第一次配種日期','第一次配種精液']
breed_index = ['乳牛編號','配種日期','配種精液','登錄日期','孕檢','配種方式','精液種類','酪農場代號']
spec_index = ['乳牛編號','狀況類別','狀況代號','狀況日期','備註','登錄日期','酪農場代號']
birth.columns = birth_index
report.columns = report_index
breed.columns = breed_index
spec.columns = spec_index
# birth.fillna(0,inplace = True)
# report.fillna(0,inplace = True)
# breed.fillna(0, inplace = True)
# spec.fillna(0, inplace = True)
report

,ID,資料年度,資料月份,酪農場代號,乳牛編號,父親精液編號,母親乳牛編號,出生日期,胎次,泌乳天數,...,最近分娩日期,採樣日期,月齡,檢測日期,最後配種日期,最後配種精液,配種次數,前次分娩日期,第一次配種日期,第一次配種精液
0,1,2013,3,A,52612,507H7173,96040545,2011/1/1 00:00,1,78.0,...,2013/1/1 00:00,2013/3/20 00:00,26,2013/3/21 00:00,2015/5/5 00:00,507H11621,1,NaN,2013/3/5 00:00,501H8784
1,2,2013,4,A,52612,507H7173,96040545,2011/1/1 00:00,1,107.0,...,2013/1/1 00:00,2013/4/18 00:00,27,2013/4/19 00:00,2015/5/5 00:00,507H11621,1,NaN,2013/3/5 00:00,501H8784
2,3,2013,5,A,52612,507H7173,96040545,2011/1/1 00:00,1,140.0,...,2013/1/1 00:00,2013/5/21 00:00,28,2013/5/22 00:00,2015/5/5 00:00,507H11621,2,NaN,2013/3/5 00:00,501H8784
3,4,2013,6,A,52612,507H7173,96040545,2011/1/1 00:00,1,175.0,...,2013/1/1 00:00,2013/6/25 00:00,29,2013/6/26 00:00,2015/5/5 00:00,507H11621,2,NaN,2013/3/5 00:00,501H8784
4,5,2013,7,A,52612,507H7173,96040545,2011/1/1 00:00,1,210.0,...,2013/1/1 00:00,2013/7/30 00:00,30,2013/7/31 00:00,2015/5/5 00:00,507H11621,2,NaN,2013/3/5 00:00,501H8784
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37512,37513,2014,1,C,93184912,14H1999,8.51715e+07,2003/3/8 00:00,8,12.0,...,2014/1/8 00:00,2014/1/20 00:00,130,2014/1/21 00:00,NaN,NaN,0,2012/11/16 00:00,NaN,NaN
37513,37514,2014,5,C,93184912,14H1999,8.51715e+07,2003/3/8 00:00,8,137.0,...,2014/1/8 00:00,2014/5/25 00:00,134,2014/5/26 00:00,NaN,NaN,0,2012/11/16 00:00,NaN,NaN
37514,37515,2014,6,C,93184912,14H1999,8.51715e+07,2003/3/8 00:00,8,168.0,...,2014/1/8 00:00,2014/6/25 00:00,135,2014/6/26 00:00,NaN,NaN,0,2012/11/16 00:00,NaN,NaN
37515,37516,2014,7,C,93184912,14H1999,8.51715e+07,2003/3/8 00:00,8,197.0,...,2014/1/8 00:00,2014/7/24 00:00,136,2014/7/25 00:00,NaN,NaN,0,2012/11/16 00:00,NaN,NaN
37516,37517,2014,8,C,93184912,14H1999,8.51715e+07,2003/3/8 00:00,8,229.0,...,2014/1/8 00:00,2014/8/25 00:00,137,2014/8/27 00:00,NaN,NaN,0,2012/11/16 00:00,NaN,NaN

# 日期處理

In [5]:
def augFeatures(data, name):
    data[name] = pd.to_datetime(data[name])
#     data[name+"年"] = data[name].dt.year
    data[name+'月'] = data[name].dt.month
#     data[name+'日'] = data[name].dt.day
#     train[name+'星期'] = train[name].dt.dayofweek
    return data

In [6]:
# report = augFeatures(report, '最近分娩日期')

# tx = pd.get_dummies(report['最近分娩日期月'], prefix = '最近分娩日期月')
# report = pd.concat([report, tx], axis = 1)
# report = report.drop(columns=['最近分娩日期月'], axis = 1)

# Processing NA

In [7]:
report['乳量'] = report.groupby(by=['乳牛編號','胎次'])['乳量'].transform(lambda x: x.fillna(x.mean()))

report['泌乳天數'] = report.groupby(by=['乳牛編號','胎次'])['泌乳天數'].transform(lambda x: x.fillna(x.mean()))

birth['母牛體重'] = birth.groupby(by=['乳牛編號'])['母牛體重'].transform(lambda x: x.fillna(x.mean()))
birth['分娩難易度'] = birth.groupby(by=['乳牛編號'])['分娩難易度'].transform(lambda x: x.fillna(x.mean()))

# 建立時序資料

In [8]:
# SQL
def buildtable(data):
    t1 = data
    t2 = data
    t3 = data
    # Join
    t4 = pd.merge(t1, t2, on = ['乳牛編號', '胎次'], suffixes = ['_L', '_R'])
    # Filter
    t5 = t4[(t4.月齡_L >= t4.月齡_R)]
    # Group by
    t6 = t5.groupby(['ID_L'], as_index = False)
    # Aggregate
    t7 = t6.agg({'ID_R': 'count'})
    
    t8 = t7.rename(columns = {'ID_L': 'ID', 'ID_R': '序列號'})
    t9 = pd.merge(t8, t3, on = ['ID'])
    t10 = t9.sort_values(by = ['乳牛編號', '胎次', '序列號'])
    return t10


# build time series
def build_data(train, pastMonth=5, futureMonth=5):
    train['過去乳量-1'] = train.groupby(by=['乳牛編號', '胎次'])['乳量'].shift()
    for i in range(2, pastMonth+1):
        train['過去乳量-%d'%(i)] = train.groupby(by=['乳牛編號', '胎次'])['過去乳量-%d'%(i-1)].shift()
    train['未來乳量-1'] = train.groupby(by=['乳牛編號', '胎次'])['乳量'].shift(-1)
    for i in range(2, futureMonth+1):
        train['未來乳量-%d'%(i)] = train.groupby(by=['乳牛編號', '胎次'])['未來乳量-%d'%(i-1)].shift(-1)
    return train

In [9]:
# report = buildtable(report)

# # normalize seq
# report['序列號'] = report.groupby(by=['乳牛編號','胎次'])['序列號'].transform(lambda x: (x-x.mean())/x.std())

# report = build_data(report, pastMonth=20, futureMonth=1)

# 新feature Spec 狀況

In [10]:
report['不健康'] = 0
from datetime import datetime
for i in range(len(spec)):
    date = datetime.strptime(spec['狀況日期'][i], "%Y/%m/%d %H:%M")
    if len(report.index[report['乳牛編號'] == spec['乳牛編號'][i]]):
        for j in report.index[report['乳牛編號'] == spec['乳牛編號'][i]]:
            if report['資料年度'][j] == date.year and report['資料月份'][j] == date.month and report['酪農場代號'][j]==spec['酪農場代號'][i]:
                report.at[j, '不健康'] = 1

# One Hot Encode report

In [11]:
tx = pd.get_dummies(report['酪農場代號'], prefix = '酪農場代號')
report = pd.concat([report, tx], axis = 1)

tx = pd.get_dummies(report['資料月份'], prefix = '資料月份')
report = pd.concat([report, tx], axis = 1)

# tx = pd.get_dummies(report['乳牛編號'], prefix = '乳牛編號')
# report = pd.concat([report, tx], axis = 1)

tx = pd.get_dummies(report['父親精液編號'], prefix = '父親精液編號')
report = pd.concat([report, tx], axis = 1)

tx = pd.get_dummies(report['母親乳牛編號'], prefix = '母親乳牛編號')
report = pd.concat([report, tx], axis = 1)

# tx = pd.get_dummies(report['出生日期'], prefix = '出生日期')
# report = pd.concat([report, tx], axis = 1)

# tx = pd.get_dummies(report['最近分娩日期'], prefix = '最近分娩日期')
# report = pd.concat([report, tx], axis = 1)

# tx = pd.get_dummies(report['最後配種日期'], prefix = '最後配種日期')
# report = pd.concat([report, tx], axis = 1)

# tx = pd.get_dummies(report['採樣日期'], prefix = '採樣日期')
# report = pd.concat([report, tx], axis = 1)

# tx = pd.get_dummies(report['檢測日期'], prefix = '檢測日期')
# report = pd.concat([report, tx], axis = 1)

# tx = pd.get_dummies(report['最後配種精液'], prefix = '最後配種精液')
# report = pd.concat([report, tx], axis = 1)

# tx = pd.get_dummies(report['前次分娩日期'], prefix = '前次分娩日期')
# report = pd.concat([report, tx], axis = 1)

# tx = pd.get_dummies(report['第一次配種日期'], prefix = '第一次配種日期')
# report = pd.concat([report, tx], axis = 1)

# tx = pd.get_dummies(report['第一次配種精液'], prefix = '第一次配種精液')
# report = pd.concat([report, tx], axis = 1)

In [12]:
Train_ID = [rep_val for rep_val in report['ID'].values if rep_val not in submission['ID'].values]
Train_report = report.loc[report['ID'].isin(Train_ID)]
Train_Number = Train_report['乳牛編號'].values
Train_report['ID'].values

array([    1,     2,     3, ..., 37515, 37516, 37517], dtype=int64)

In [13]:
Test_ID = [rep_val for rep_val in report['ID'].values if rep_val in submission['ID'].values]
Test_report = report.loc[report['ID'].isin(Test_ID)]
Test_Number = Test_report['乳牛編號'].values
Test_report

,ID,資料年度,資料月份,酪農場代號,乳牛編號,父親精液編號,母親乳牛編號,出生日期,胎次,泌乳天數,...,資料月份_3,資料月份_4,資料月份_5,資料月份_6,資料月份_7,資料月份_8,資料月份_9,資料月份_10,資料月份_11,資料月份_12
479,480,2019,1,A,52631,501H9952,97040152,2011/3/17 00:00,4,435.0,...,0,0,0,0,0,0,0,0,0,0
741,742,2019,2,A,52640,501H9952,96040567,2011/4/1 00:00,4,13.0,...,0,0,0,0,0,0,0,0,0,0
742,743,2019,3,A,52640,501H9952,96040567,2011/4/1 00:00,4,35.0,...,1,0,0,0,0,0,0,0,0,0
743,744,2019,4,A,52640,501H9952,96040567,2011/4/1 00:00,4,70.0,...,0,1,0,0,0,0,0,0,0,0
744,745,2019,5,A,52640,501H9952,96040567,2011/4/1 00:00,4,98.0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37480,37481,2019,6,C,6187446,001HO11511,4.17046e+06,2017/6/1 00:00,1,15.0,...,0,0,0,1,0,0,0,0,0,0
37481,37482,2019,6,C,6187448,001HO11511,3.17231e+06,2017/6/17 00:00,1,22.0,...,0,0,0,1,0,0,0,0,0,0
37482,37483,2019,6,C,6187449,001HO11511,2.17684e+06,2017/8/10 00:00,1,21.0,...,0,0,0,1,0,0,0,0,0,0
37483,37484,2019,7,C,6187449,001HO11511,2.17684e+06,2017/8/10 00:00,1,51.0,...,0,0,0,0,1,0,0,0,0,0
37484,37485,2019,7,C,6187451,001HO11511,2.17682e+06,2017/8/21 00:00,1,15.0,...,0,0,0,0,1,0,0,0,0,0

In [14]:
report_drop_columns = ['ID','資料年度','資料月份','父親精液編號','母親乳牛編號','出生日期','最近分娩日期','採樣日期','檢測日期'
               ,'最後配種日期','最後配種精液','前次分娩日期','第一次配種日期','第一次配種精液', '酪農場代號','月齡']
Test_report_drop_columns = ['資料年度','資料月份','父親精液編號','母親乳牛編號','出生日期','最近分娩日期','採樣日期','檢測日期'
               ,'最後配種日期','最後配種精液','前次分娩日期','第一次配種日期','第一次配種精液', '酪農場代號', '月齡']
Train_report_x = Train_report.drop(columns=report_drop_columns, axis = 1)

Test_report_x = Test_report.drop(columns=Test_report_drop_columns, axis = 1)
Test_report_x

,ID,乳牛編號,胎次,泌乳天數,乳量,配種次數,不健康,酪農場代號_A,酪農場代號_B,酪農場代號_C,...,資料月份_3,資料月份_4,資料月份_5,資料月份_6,資料月份_7,資料月份_8,資料月份_9,資料月份_10,資料月份_11,資料月份_12
479,480,52631,4,435.0,28.021429,6,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
741,742,52640,4,13.0,NaN,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
742,743,52640,4,35.0,NaN,1,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
743,744,52640,4,70.0,NaN,1,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
744,745,52640,4,98.0,NaN,1,1,1,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37480,37481,6187446,1,15.0,NaN,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
37481,37482,6187448,1,22.0,NaN,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
37482,37483,6187449,1,21.0,NaN,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
37483,37484,6187449,1,51.0,NaN,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
37484,37485,6187451,1,15.0,NaN,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0

In [15]:
# # breed: one hot encode 
# tx = pd.get_dummies(breed['配種方式'], prefix = '配種方式')
# breed = pd.concat([breed, tx], axis = 1)
# tx = pd.get_dummies(breed['精液種類'], prefix = '精液種類')
# breed = pd.concat([breed, tx], axis = 1)

# breed_drop_columns = ['配種日期','配種精液','登錄日期','孕檢', '配種方式', '精液種類', '酪農場代號']
# breed_x = breed.drop(columns=breed_drop_columns, axis = 1)

# Train_breed_x = breed_x.loc[breed_x['乳牛編號'].isin(Train_Number)]
# Test_breed_x = breed_x.loc[breed_x['乳牛編號'].isin(Test_Number)]
# Test_breed_x

In [16]:
# birth feature
birth_drop_columns = ['分娩日期', '乾乳日期', '犢牛編號1', '犢牛編號2', '登錄日期', '計算胎次', '犢牛體型', '犢牛性別', '酪農場代號']
birth_x = birth.drop(columns=birth_drop_columns, axis = 1)

Train_birth_x = birth_x.loc[birth_x['乳牛編號'].isin(Train_Number)]
Test_birth_x = birth_x.loc[birth_x['乳牛編號'].isin(Test_Number)]
Train_birth_x

          乳牛編號   母牛體重  胎次  分娩難易度
0     87121677    NaN   2    1.0
1     96126940  522.0   2    2.0
2     95181708  670.0   5    1.0
3     97127665    NaN   3    2.0
4     97182634  630.0   4    1.0
...        ...    ...  ..    ...
3755   4181793  590.0   2    3.0
3756   5184341  560.0   2    1.0
3757   5184348  580.0   2    1.0
3758  97182634  730.0   9    1.0
3759  99183190  690.0   7    1.0

[3587 rows x 4 columns]

In [17]:
# # 備註特徵轉換 問題牛
# bad = {'腳痛', '繁殖障礙', '內寄生蟲', '死亡', '難產', '木乃伊', '無法站立', '蹄的問題', '其他疾病', '中毒', '2種原因以上'
#       , '感冒', '腳斷', '淘汰', '代謝疾病', '生殖道問題', '有抗生素'}

# spec['備註'] = spec['備註'].astype(str)
# for i in range(len(spec['備註'])):
#     spec['備註'][i] = '1' if spec['備註'][i] in bad else '0'
# spec['備註'] = spec['備註'].astype(int)

# # # one hot encode
# # tx = pd.get_dummies(spec['狀況類別'], prefix = '狀況類別')
# # spec = pd.concat([spec, tx], axis = 1)

# spec_drop_columns = ['狀況類別','狀況代號','狀況日期','登錄日期','酪農場代號']
# spec_x = spec.drop(columns=spec_drop_columns, axis = 1)

# Train_spec_x = spec_x.loc[spec_x['乳牛編號'].isin(Train_Number)]
# Test_spec_x = spec_x.loc[spec_x['乳牛編號'].isin(Test_Number)]
# Train_spec_x

In [18]:
# def season(time):
#     if len(item) == 0:
#         return 0
#     temp = int(item.split('/')[1])
#     if temp >= 1 and temp <= 3:
#         return '春'
#     elif temp >= 4 and temp <= 6:
#         return '夏'
#     elif temp >= 7 and temp <= 9:
#         return '秋'
#     elif temp >= 10 and temp <= 12:
#         return '冬'
#     else:
#         return 0

# Processing NA

In [19]:
days = Train_report_x['泌乳天數'].mean()
Train_report_x['泌乳天數'].fillna(days, inplace = True)

weight = Train_birth_x['母牛體重'].mean()
Train_birth_x['母牛體重'].fillna(weight, inplace = True)

weight = Test_birth_x['母牛體重'].mean()
Test_birth_x['母牛體重'].fillna(weight, inplace = True)

hard = Train_birth_x['分娩難易度'].mean()
Train_birth_x['分娩難易度'].fillna(hard, inplace = True)

hard = Train_birth_x['分娩難易度'].mean()
Test_birth_x['分娩難易度'].fillna(hard, inplace = True)

D:\anaconda3\lib\site-packages\pandas\core\series.py:4523: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

# Data Normalization

In [20]:
def normalize(data):
    data_norm = data.apply(lambda x: (x - np.mean(x)) / (np.max(x) - np.min(x)))
    return data_norm

def stdnormal(data, col):
    data[col] = (data[col] - data[col].mean()) / data[col].std()
    return data[col]

birth_normal = ['母牛體重', '分娩難易度', '胎次']
for normal_col in birth_normal:
    try:
        normalized_x = (Train_birth_x[normal_col]-Train_birth_x[normal_col].mean()) / Train_birth_x[normal_col].std()
        Train_birth_x[normal_col] = normalized_x

        normalized_x = (Test_birth_x[normal_col]-Test_birth_x[normal_col].mean()) / Test_birth_x[normal_col].std()
        Test_birth_x[normal_col] = normalized_x
    except:
        print(f'{normal_col} not found')
    
report_normal = ['泌乳天數', '配種次數', '胎次']
                 #, '配種次數
for normal_col in report_normal:
    try:
        normalized_x = (Train_report_x[normal_col]-Train_report_x[normal_col].mean()) / Train_report_x[normal_col].std()
        Train_report_x[normal_col] = normalized_x

        normalized_x = (Test_report_x[normal_col]-Test_report_x[normal_col].mean()) / Test_report_x[normal_col].std()
        Test_report_x[normal_col] = normalized_x
    except:
        print(f'{normal_col} not found')

D:\anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
D:\anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

# Merge Data

In [21]:
x = pd.merge(Train_report_x, Train_birth_x, on= ['乳牛編號'])

# x = pd.merge(x, Train_breed_x, on = ['乳牛編號'])
# x = pd.merge(x, Train_spec_x, on= ['乳牛編號'])

y = x['乳量'].values
x = x.drop(columns = ['乳牛編號','乳量'], axis = 1)

In [22]:
# if merge by 胎次, need
# # fillna
# x['母牛體重'] = x['母牛體重'].fillna(weight)
# x['分娩難易度'] = x['分娩難易度'].fillna(hard)

# # std normalize
# for c in ['母牛體重', '分娩難易度', '胎次', '泌乳天數', '配種次數']:
#     x[c] = stdnormal(x, c)

# x

In [23]:
x.describe()

,胎次_x,泌乳天數,配種次數,不健康,酪農場代號_A,酪農場代號_B,酪農場代號_C,資料月份_1,資料月份_2,資料月份_3,...,資料月份_6,資料月份_7,資料月份_8,資料月份_9,資料月份_10,資料月份_11,資料月份_12,母牛體重,胎次_y,分娩難易度
count,87186.000000,87186.000000,87186.000000,87186.000000,87186.000000,87186.000000,87186.000000,87186.000000,87186.000000,87186.000000,...,87186.000000,87186.000000,87186.000000,87186.000000,87186.000000,87186.000000,87186.000000,8.718600e+04,87186.000000,87186.000000
mean,0.170420,-0.064084,-0.055867,0.011068,0.222306,0.572844,0.204849,0.077650,0.083270,0.083236,...,0.083637,0.082330,0.083305,0.079864,0.084245,0.082754,0.083718,1.299067e-01,0.279569,-0.009263
std,1.069677,0.930691,0.910405,0.104623,0.415798,0.494668,0.403594,0.267622,0.276292,0.276240,...,0.276845,0.274868,0.276344,0.271084,0.277757,0.275512,0.276965,1.102948e+00,1.127765,0.994896
min,-1.595633,-1.365832,-0.924381,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-4.434791e+00,-0.868055,-0.597536
25%,-0.778490,-0.793782,-0.454949,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-5.048446e-15,-0.868055,-0.597536
50%,0.038653,-0.195125,-0.454949,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-5.048446e-15,-0.086893,-0.597536
75%,0.855796,0.463398,0.483916,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-5.048446e-15,0.694270,0.000000
max,5.758655,10.527487,6.117106,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,7.554991e+00,5.381246,9.594138

In [24]:
test = pd.merge(Test_report_x, Test_birth_x, on =  ['乳牛編號'])

# test = pd.merge(test, Test_breed_x, on =  ['乳牛編號'], how = 'left')
# test = pd.merge(test, Test_spec_x, on =  ['乳牛編號'], how = 'left')
# test.fillna(-1, inplace = True)

test_without_ID = test.drop(columns = ['乳牛編號','乳量','ID'], axis = 1)

In [25]:
# merge by 胎次need
# std normal
# for c in ['母牛體重', '分娩難易度', '胎次', '泌乳天數', '配種次數']:
#     test_without_ID[c] = stdnormal(test_without_ID, c)
# test_without_ID

In [26]:
test_without_ID.describe()

,胎次_x,泌乳天數,配種次數,不健康,酪農場代號_A,酪農場代號_B,酪農場代號_C,資料月份_1,資料月份_2,資料月份_3,...,資料月份_6,資料月份_7,資料月份_8,資料月份_9,資料月份_10,資料月份_11,資料月份_12,母牛體重,胎次_y,分娩難易度
count,8830.000000,8830.000000,8830.000000,8830.000000,8830.000000,8830.000000,8830.000000,8830.000000,8830.000000,8830.000000,...,8830.000000,8830.000000,8830.0,8830.0,8830.0,8830.0,8830.0,8830.000000,8830.000000,8830.000000
mean,0.532830,-0.028741,-0.052231,0.012005,0.250736,0.588562,0.160702,0.154360,0.150283,0.149151,...,0.141450,0.111325,0.0,0.0,0.0,0.0,0.0,0.018626,0.003816,-0.010940
std,1.254991,0.959458,0.952421,0.108912,0.433461,0.492122,0.367277,0.361314,0.357369,0.356257,...,0.348504,0.314552,0.0,0.0,0.0,0.0,0.0,1.001255,1.007518,0.974949
min,-0.835203,-1.327536,-0.924708,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,-3.899882,-0.765127,-0.570210
25%,-0.011211,-0.780424,-0.924708,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,-0.765127,-0.570210
50%,-0.011211,-0.205610,-0.437977,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.076127,-0.570210
75%,0.812782,0.507713,0.048753,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.076127,0.051362
max,4.932745,5.888804,6.376247,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,0.0,0.0,0.0,0.0,0.0,7.451601,5.964909,10.031424