In [1]:
import pandas as pd
import numpy as np

In [2]:
filelist = ['birth.csv', 'breed.csv', 'report.csv', 'spec.csv','submission.csv']

# Read File

In [3]:
birth = pd.read_csv('./data/' + filelist[0])
breed = pd.read_csv('./data/' + filelist[1])
report = pd.read_csv('./data/' + filelist[2])
spec = pd.read_csv('./data/' + filelist[3])
submission = pd.read_csv('./data/' + filelist[4])
submission

         ID   1
0       480 NaN
1       742 NaN
2       743 NaN
3       744 NaN
4       745 NaN
...     ...  ..
4258  37481 NaN
4259  37482 NaN
4260  37483 NaN
4261  37484 NaN
4262  37485 NaN

[4263 rows x 2 columns]

In [4]:
birth_index = ['乳牛編號', '分娩日期', '乾乳日期','犢牛編號1','犢牛編號2','母牛體重','登錄日期','計算胎次','胎次','分娩難易度','犢牛體型','犢牛性別','酪農場代號']
report_index = ['ID','資料年度','資料月份','酪農場代號','乳牛編號','父親精液編號','母親乳牛編號','出生日期','胎次','泌乳天數','乳量','最近分娩日期','採樣日期','月齡','檢測日期','最後配種日期','最後配種精液','配種次數','前次分娩日期','第一次配種日期','第一次配種精液']
breed_index = ['乳牛編號','配種日期','配種精液','登錄日期','孕檢','配種方式','精液種類','酪農場代號']
spec_index = ['乳牛編號','狀況類別','狀況代號','狀況日期','備註','登錄日期','酪農場代號']
birth.columns = birth_index
report.columns = report_index
breed.columns = breed_index
spec.columns = spec_index
#print(birth['母牛體重'].mean())
#birth['母牛體重'].fillna(birth['母牛體重'].mean(),inplace = True)
birth.fillna(0,inplace = True)
report.fillna(0,inplace = True)
breed.fillna(0, inplace = True)
spec.fillna(0, inplace = True)
birth

,乳牛編號,分娩日期,乾乳日期,犢牛編號1,犢牛編號2,母牛體重,登錄日期,計算胎次,胎次,分娩難易度,犢牛體型,犢牛性別,酪農場代號
0,87121677,2013/1/4 00:00,0,0,0,576.584507,2013/1/25 00:00,True,2,1.0,0,0,B
1,96126940,2013/1/2 00:00,0,0,0,522.000000,2013/1/25 00:00,True,2,2.0,0,0,B
2,95181708,2013/1/14 00:00,2014/1/3 00:00,2188113,0,670.000000,2013/1/25 00:00,True,5,1.0,0,0,C
3,97127665,2013/1/9 00:00,2014/3/12 00:00,0,0,576.584507,2013/1/25 00:00,True,3,2.0,0,0,B
4,97182634,2013/1/9 00:00,2014/3/25 00:00,0,0,630.000000,2013/1/25 00:00,True,4,1.0,0,0,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3756,5184341,2019/7/9 00:00,0,8181409,0,560.000000,2019/7/26 00:00,True,2,1.0,0,母,C
3757,5184348,2019/7/12 00:00,0,0,0,580.000000,2019/7/26 00:00,True,2,1.0,0,0,C
3758,97182634,2019/7/24 00:00,0,0,0,730.000000,2019/7/26 00:00,True,9,1.0,0,0,C
3759,99183190,2019/7/5 00:00,0,0,0,690.000000,2019/7/26 00:00,True,7,1.0,0,0,C
3760,6187451,2019/7/10 00:00,0,8181410,0,505.000000,2019/7/26 00:00,True,1,1.0,0,母,C

In [5]:
Train_ID = [rep_val for rep_val in report['ID'].values if rep_val not in submission['ID'].values]
Train_report = report.loc[report['ID'].isin(Train_ID)]
Train_Number = Train_report['乳牛編號'].values
Train_report['ID'].values
#Train_breed = breed.loc[breed['乳牛編號'].isin(Train_Number)]
#breed

array([    1,     2,     3, ..., 37515, 37516, 37517], dtype=int64)

In [6]:
Test_ID = [rep_val for rep_val in report['ID'].values if rep_val in submission['ID'].values]
Test_report = report.loc[report['ID'].isin(Test_ID)]
Test_Number = Test_report['乳牛編號'].values
Test_report

,ID,資料年度,資料月份,酪農場代號,乳牛編號,父親精液編號,母親乳牛編號,出生日期,胎次,泌乳天數,...,最近分娩日期,採樣日期,月齡,檢測日期,最後配種日期,最後配種精液,配種次數,前次分娩日期,第一次配種日期,第一次配種精液
479,480,2019,1,A,52631,501H9952,97040152,2011/3/17 00:00,4,435.0,...,2017/11/1 00:00,2019/1/10 00:00,94,2019/1/15 00:00,2019/2/3 00:00,551HO00657,6,2016/8/4 00:00,2018/1/6 00:00,614HO07276
741,742,2019,2,A,52640,501H9952,96040567,2011/4/1 00:00,4,13.0,...,2019/1/29 00:00,2019/2/11 00:00,94,2019/2/12 00:00,2019/2/28 00:00,551HO00695,0,2017/6/17 00:00,2019/2/28 00:00,551HO00695
742,743,2019,3,A,52640,501H9952,96040567,2011/4/1 00:00,4,35.0,...,2019/1/29 00:00,2019/3/5 00:00,95,2019/3/6 00:00,2019/2/28 00:00,551HO00695,1,2017/6/17 00:00,2019/2/28 00:00,551HO00695
743,744,2019,4,A,52640,501H9952,96040567,2011/4/1 00:00,4,70.0,...,2019/1/29 00:00,2019/4/9 00:00,96,2019/4/11 00:00,2019/2/28 00:00,551HO00695,1,2017/6/17 00:00,2019/2/28 00:00,551HO00695
744,745,2019,5,A,52640,501H9952,96040567,2011/4/1 00:00,4,98.0,...,2019/1/29 00:00,2019/5/7 00:00,97,2019/5/9 00:00,2019/2/28 00:00,551HO00695,1,2017/6/17 00:00,2019/2/28 00:00,551HO00695
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37480,37481,2019,6,C,6187446,001HO11511,4.17046e+06,2017/6/1 00:00,1,15.0,...,2019/6/10 00:00,2019/6/25 00:00,24,2019/6/27 00:00,2019/7/24 00:00,001HO12901,0,0,2019/7/24 00:00,001HO12901
37481,37482,2019,6,C,6187448,001HO11511,3.17231e+06,2017/6/17 00:00,1,22.0,...,2019/6/3 00:00,2019/6/25 00:00,24,2019/6/27 00:00,0,0,0,0,0,0
37482,37483,2019,6,C,6187449,001HO11511,2.17684e+06,2017/8/10 00:00,1,21.0,...,2019/6/4 00:00,2019/6/25 00:00,22,2019/6/27 00:00,0,0,0,0,0,0
37483,37484,2019,7,C,6187449,001HO11511,2.17684e+06,2017/8/10 00:00,1,51.0,...,2019/6/4 00:00,2019/7/25 00:00,23,2019/7/26 00:00,0,0,0,0,0,0
37484,37485,2019,7,C,6187451,001HO11511,2.17682e+06,2017/8/21 00:00,1,15.0,...,2019/7/10 00:00,2019/7/25 00:00,23,2019/7/26 00:00,0,0,0,0,0,0

In [7]:
report_drop_columns = ['ID','資料年度','資料月份','父親精液編號','母親乳牛編號','出生日期','最近分娩日期','採樣日期','檢測日期'
               ,'最後配種日期','最後配種精液','前次分娩日期','第一次配種日期','第一次配種精液']
Test_report_drop_columns = ['資料年度','資料月份','父親精液編號','母親乳牛編號','出生日期','最近分娩日期','採樣日期','檢測日期'
               ,'最後配種日期','最後配種精液','前次分娩日期','第一次配種日期','第一次配種精液']
mapping = {'A' : 0, 'B':1,'C':2}
Train_report_x = Train_report.drop(columns=report_drop_columns, axis = 1)
Train_report_x['酪農場代號'] = Train_report_x['酪農場代號'].map(mapping)
Test_report_x = Test_report.drop(columns=Test_report_drop_columns, axis = 1)
Test_report_x['酪農場代號'] = Test_report_x['酪農場代號'].map(mapping)
Test_report_x

          ID  酪農場代號     乳牛編號  胎次   泌乳天數   乳量  月齡  配種次數
479      480      0    52631   4  435.0  0.0  94     6
741      742      0    52640   4   13.0  0.0  94     0
742      743      0    52640   4   35.0  0.0  95     1
743      744      0    52640   4   70.0  0.0  96     1
744      745      0    52640   4   98.0  0.0  97     1
...      ...    ...      ...  ..    ...  ...  ..   ...
37480  37481      2  6187446   1   15.0  0.0  24     0
37481  37482      2  6187448   1   22.0  0.0  24     0
37482  37483      2  6187449   1   21.0  0.0  22     0
37483  37484      2  6187449   1   51.0  0.0  23     0
37484  37485      2  6187451   1   15.0  0.0  23     0

[4263 rows x 8 columns]

In [8]:
breed_drop_columns = ['配種日期','配種精液','登錄日期','孕檢']
breed_x = breed.drop(columns=breed_drop_columns, axis = 1)
breed_x['配種方式'] = pd.Categorical(breed_x['配種方式']).codes
breed_x['精液種類'] = pd.Categorical(breed_x['精液種類']).codes
breed_x['酪農場代號'] = breed_x['酪農場代號'].map(mapping)
Train_breed_x = breed_x.loc[breed_x['乳牛編號'].isin(Train_Number)]
Test_breed_x = breed_x.loc[breed_x['乳牛編號'].isin(Test_Number)]
Test_breed_x

           乳牛編號  配種方式  精液種類  酪農場代號
7576   95121878     0     0      1
7577   95121878     0     0      1
7578   95121878     0     0      1
8383   97051427     0     0      0
8384   97051427     0     0      0
...         ...   ...   ...    ...
21045   6187429     0     0      2
21046   6187431     0     0      2
21047   6187441     0     0      2
21048   6187442     0     0      2
21049   6187446     0     0      2

[4319 rows x 4 columns]

In [9]:
# birth feature
birth_drop_columns = ['分娩日期', '乾乳日期', '犢牛編號1', '犢牛編號2', '登錄日期', '計算胎次', '犢牛體型', '犢牛性別']
birth_x = birth.drop(columns=birth_drop_columns, axis = 1)
# birth_x.describe(include = ['O'])
birth_x['酪農場代號'] = birth_x['酪農場代號'].map(mapping)
Train_birth_x = birth_x.loc[birth_x['乳牛編號'].isin(Train_Number)]
Test_birth_x = birth_x.loc[birth_x['乳牛編號'].isin(Test_Number)]
Train_birth_x

          乳牛編號        母牛體重  胎次  分娩難易度  酪農場代號
0     87121677  576.584507   2    1.0      1
1     96126940  522.000000   2    2.0      1
2     95181708  670.000000   5    1.0      2
3     97127665  576.584507   3    2.0      1
4     97182634  630.000000   4    1.0      2
...        ...         ...  ..    ...    ...
3755   4181793  590.000000   2    3.0      2
3756   5184341  560.000000   2    1.0      2
3757   5184348  580.000000   2    1.0      2
3758  97182634  730.000000   9    1.0      2
3759  99183190  690.000000   7    1.0      2

[3587 rows x 5 columns]

In [19]:
# spec feature
#spec
spec_drop_columns = ['狀況類別','狀況代號','狀況日期','備註','登錄日期','酪農場代號']
spec_x = spec.drop(columns = spec_drop_columns, axis = 1)
spec_one_hot = pd.get_dummies(spec['狀況類別'], prefix=['狀況類別'])
spec_x = pd.concat([spec_x, spec_one_hot],axis = 1, sort = False)
Train_spec_x = spec_x.loc[spec_x['乳牛編號'].isin(Train_Number)]
Test_spec_x = spec_x.loc[spec_x['乳牛編號'].isin(Test_Number)]
Train_spec_x

,乳牛編號,['狀況類別']_1,['狀況類別']_2,['狀況類別']_C,['狀況類別']_D,['狀況類別']_N,['狀況類別']_c,['狀況類別']_n
656,93126178,0,0,0,1,0,0,0
798,94123926,0,0,1,0,0,0,0
802,94051722,0,0,0,1,0,0,0
809,94051734,0,0,0,1,0,0,0
810,94051734,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...
4357,3051593,0,0,0,0,1,0,0
4358,1051842,0,0,1,0,0,0,0
4359,2052033,0,0,1,0,0,0,0
4360,2052019,0,0,1,0,0,0,0
4361,3128053,0,0,1,0,0,0,0

In [43]:
# def season(time):
#     if len(item) == 0:
#         return 0
#     temp = int(item.split('/')[1])
#     if temp >= 1 and temp <= 3:
#         return '春'
#     elif temp >= 4 and temp <= 6:
#         return '夏'
#     elif temp >= 7 and temp <= 9:
#         return '秋'
#     elif temp >= 10 and temp <= 12:
#         return '冬'
#     else:
#         return 0

In [44]:
# for i, item in enumerate(birth['分娩日期']):
#     birth.loc[i, '分娩日期'] = season(item)
# birth

In [45]:
# res = pd.merge(birth, breed, on = '乳牛編號')
# res = pd.merge(res, report, on = '乳牛編號')
# res = pd.merge(res, spec, on = '乳牛編號')
# res['分娩日期'][1]

# Data Normalization

In [20]:
normalized_x = (Train_birth_x['母牛體重']-Train_birth_x['母牛體重'].mean()) / Train_birth_x['母牛體重'].std()
Train_birth_x['母牛體重'] = normalized_x
#Train_birth_x['母牛體重']
normalized_x = (Test_birth_x['母牛體重']-Test_birth_x['母牛體重'].mean()) / Test_birth_x['母牛體重'].std()
Test_birth_x['母牛體重'] = normalized_x
Test_birth_x['母牛體重']

normalized_x = (Train_report_x['泌乳天數']-Train_report_x['泌乳天數'].mean()) / Train_report_x['泌乳天數'].std()
Train_report_x['泌乳天數'] = normalized_x
#Train_birth_x['母牛體重']
normalized_x = (Test_report_x['泌乳天數']-Test_report_x['泌乳天數'].mean()) / Test_report_x['泌乳天數'].std()
Test_report_x['泌乳天數'] = normalized_x
Test_report_x['泌乳天數']

479      1.671192
741     -1.251356
742     -1.098996
743     -0.856604
744     -0.662691
           ...
37480   -1.237505
37481   -1.189027
37482   -1.195952
37483   -0.988188
37484   -1.237505
Name: 泌乳天數, Length: 4263, dtype: float64

# Merge Data

In [14]:
x = pd.merge(Train_report_x, Train_breed_x, on = '乳牛編號')
x = pd.merge(x, Train_birth_x, on = '乳牛編號')
x = pd.merge(x, Train_spec_x, on = '乳牛編號')
y = x['乳量'].values
x = x.drop(columns = ['乳牛編號','乳量'], axis = 1)
#res
x

,酪農場代號_x,胎次_x,泌乳天數,月齡,配種次數,配種方式,精液種類,酪農場代號_y,母牛體重,胎次_y,分娩難易度,酪農場代號
0,0,1,-0.853582,26,1,0,0,0,-0.477730,1,0.0,0
1,0,1,-0.853582,26,1,0,0,0,-0.477730,2,0.0,0
2,0,1,-0.853582,26,1,0,0,0,-0.477730,1,0.0,0
3,0,1,-0.853582,26,1,0,0,0,-0.477730,2,0.0,0
4,0,1,-0.853582,26,1,0,0,0,-0.477730,1,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
803852,2,8,0.150803,137,0,0,0,2,2.707923,8,1.0,2
803853,2,8,0.150803,137,0,0,0,2,2.707923,8,1.0,2
803854,2,8,0.150803,137,0,0,0,2,2.707923,8,1.0,2
803855,2,8,0.150803,137,0,0,0,2,2.707923,8,1.0,2
803856,2,8,0.150803,137,0,0,0,2,2.707923,8,1.0,2

In [14]:
test = pd.merge(Test_report_x, Test_breed_x, on = '乳牛編號', how = 'left')
test = pd.merge(test, Test_birth_x, on = '乳牛編號', how = 'left')
test = pd.merge(test, Test_spec_x, on = '乳牛編號', how = 'left')
test.fillna(-1,inplace = True)
test_without_ID = test.drop(columns = ['乳牛編號','乳量','ID'], axis = 1)