In [40]:
import pandas as pd

In [41]:
filelist = ['birth.csv', 'breed.csv', 'report.csv', 'spec.csv']

In [42]:
birth = pd.read_csv('./data/' + filelist[0])
breed = pd.read_csv('./data/' + filelist[1])
report = pd.read_csv('./data/' + filelist[2])
spec = pd.read_csv('./data/' + filelist[3])

In [48]:
birth_index = ['乳牛編號', '分娩日期', '乾乳日期','犢牛編號1','犢牛編號2','母牛體重','登錄日期','計算胎次','胎次','分娩難易度','犢牛體型','犢牛性別','酪農場代號']
report_index = ['ID','資料年度','資料月份','酪農場代號','乳牛編號','父親精液編號','母親乳牛編號','出生日期','胎次','泌乳天數','乳量','最近分娩日期','採樣日期','月齡','檢測日期','最後配種日期','最後配種精液','配種次數','前次分娩日期','第一次配種日期','第一次配種精液']
breed_index = ['乳牛編號','配種日期','配種精液','登錄日期','孕檢','配種方式','精液種類','酪農場代號']
spec_index = ['乳牛編號','狀況類別','狀況代號','狀況日期','備註','登錄日期','酪農場代號']
birth.columns = birth_index
report.columns = report_index
breed.columns = breed_index
spec.columns = spec_index
spec

         乳牛編號 狀況類別 狀況代號             狀況日期   備註             登錄日期 酪農場代號
0     5022341    N  NaN  1999/8/24 00:00  NaN              NaN     A
1     5022362    N  NaN  1999/8/24 00:00  NaN              NaN     A
2     5022365    N  NaN  1999/8/24 00:00  NaN              NaN     A
3     5022372    N  NaN  1999/8/24 00:00  NaN              NaN     A
4     5022373    N  NaN  1999/8/24 00:00  NaN              NaN     A
...       ...  ...  ...              ...  ...              ...   ...
4357  3051593    N  NaN   2017/6/6 00:00  NaN   2017/6/7 00:00     A
4358  1051842    C   12  2017/6/22 00:00  NaN   2017/7/6 00:00     A
4359  2052033    C   31  2017/6/22 00:00  NaN   2017/7/6 00:00     A
4360  2052019    C   12   2018/5/9 00:00  NaN  2018/5/11 00:00     A
4361  3128053    C   31  2017/7/12 00:00  NaN  2017/7/19 00:00     B

[4362 rows x 7 columns]

In [67]:
#features

In [70]:
res = pd.merge(birth, breed, on = '乳牛編號')
res = pd.merge(res, report, on = '乳牛編號')
res = pd.merge(res, spec, on = '乳牛編號')
res

,乳牛編號,分娩日期,乾乳日期,犢牛編號1,犢牛編號2,母牛體,登錄日期_x,計算胎次,胎次_x,分娩難易度,...,配種次數,前次分娩日期,第一次配種日期,第一次配種精液,狀況類別,狀況代號,狀況日期,備註,登錄日期,酪農場代號_y
0,87121677,2013/1/4 00:00,NaN,NaN,NaN,NaN,2013/1/25 00:00,True,2,1.0,...,0,2012/1/10 00:00,NaN,NaN,C,42,2013/4/1 00:00,NaN,2013/4/30 00:00,B
1,87121677,2013/1/4 00:00,NaN,NaN,NaN,NaN,2013/1/25 00:00,True,2,1.0,...,0,2012/1/10 00:00,NaN,NaN,C,42,2013/4/1 00:00,NaN,2013/4/30 00:00,B
2,96126940,2013/1/2 00:00,NaN,NaN,NaN,522.0,2013/1/25 00:00,True,2,2.0,...,0,2010/3/13 00:00,2013/8/7 00:00,200H4779,C,61,2013/9/9 00:00,NaN,2013/9/30 00:00,B
3,96126940,2013/1/2 00:00,NaN,NaN,NaN,522.0,2013/1/25 00:00,True,2,2.0,...,0,2010/3/13 00:00,2013/8/7 00:00,200H4779,C,61,2013/9/9 00:00,NaN,2013/9/30 00:00,B
4,96126940,2013/1/2 00:00,NaN,NaN,NaN,522.0,2013/1/25 00:00,True,2,2.0,...,0,2010/3/13 00:00,2013/8/7 00:00,200H4779,C,61,2013/9/9 00:00,NaN,2013/9/30 00:00,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1095190,5051868,2019/4/25 00:00,NaN,NaN,NaN,NaN,2019/5/8 00:00,True,1,NaN,...,0,NaN,NaN,NaN,D,29,2019/4/25 00:00,NaN,2019/5/8 00:00,A
1095191,5051868,2019/4/25 00:00,NaN,NaN,NaN,NaN,2019/5/8 00:00,True,1,NaN,...,0,NaN,NaN,NaN,D,29,2019/4/25 00:00,NaN,2019/5/8 00:00,A
1095192,5051868,2019/4/25 00:00,NaN,NaN,NaN,NaN,2019/5/8 00:00,True,1,NaN,...,0,NaN,NaN,NaN,D,29,2019/4/25 00:00,NaN,2019/5/8 00:00,A
1095193,6052029,2019/6/10 00:00,NaN,NaN,NaN,NaN,2019/7/2 00:00,True,1,NaN,...,0,NaN,NaN,NaN,D,29,2019/6/10 00:00,NaN,2019/7/2 00:00,A
1095194,6052029,2019/6/10 00:00,NaN,NaN,NaN,NaN,2019/7/2 00:00,True,1,NaN,...,0,NaN,NaN,NaN,D,29,2019/6/10 00:00,NaN,2019/7/2 00:00,A

In [72]:
def season(time):
    if time == 'NaN':
        return time
    temp = time.split('/')
    if temp >= 1 and temp <= 3:
        return '春'
    elif temp >= 4 and temp <= 6:
        return '夏'
    elif temp >= 7 and temp <= 9:
        return '秋'
    elif temp >= 10 and temp <= 12:
        return '冬'

In [77]:
#res['分娩日期'] = season(res['分娩日期'].item())
res['分娩日期'].item()

ValueError: can only convert an array of size 1 to a Python scalar