In [228]:
import pandas as pd

In [229]:
filelist = ['birth.csv', 'breed.csv', 'report.csv', 'spec.csv','submission.csv']

# Read File

In [230]:
birth = pd.read_csv('./data/' + filelist[0])
breed = pd.read_csv('./data/' + filelist[1])
report = pd.read_csv('./data/' + filelist[2])
spec = pd.read_csv('./data/' + filelist[3])
submission = pd.read_csv('./data/' + filelist[4])

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

# Change Index

In [231]:
birth_index = ['乳牛編號', '分娩日期', '乾乳日期','犢牛編號1','犢牛編號2','母牛體重','登錄日期','計算胎次','胎次','分娩難易度','犢牛體型','犢牛性別','酪農場代號']
report_index = ['ID','資料年度','資料月份','酪農場代號','乳牛編號','父親精液編號','母親乳牛編號','出生日期','胎次','泌乳天數','乳量','最近分娩日期','採樣日期','月齡','檢測日期','最後配種日期','最後配種精液','配種次數','前次分娩日期','第一次配種日期','第一次配種精液']
breed_index = ['乳牛編號','配種日期','配種精液','登錄日期','孕檢','配種方式','精液種類','酪農場代號']
spec_index = ['乳牛編號','狀況類別','狀況代號','狀況日期','備註','登錄日期','酪農場代號']
birth.columns = birth_index
report.columns = report_index
breed.columns = breed_index
spec.columns = spec_index
birth.fillna(-1,inplace = True)
report.fillna(-1,inplace = True)
breed.fillna(-1, inplace = True)
spec.fillna(-1, inplace = True)
submission

         ID   1
0       480 NaN
1       742 NaN
2       743 NaN
3       744 NaN
4       745 NaN
...     ...  ..
4258  37481 NaN
4259  37482 NaN
4260  37483 NaN
4261  37484 NaN
4262  37485 NaN

[4263 rows x 2 columns]

# Split into Train and Test dataframe

In [234]:
Train_ID = [rep_val for rep_val in report['ID'].values if rep_val not in submission['ID'].values]
Train_report = report.loc[report['ID'].isin(Train_ID)]
Train_report

,ID,資料年度,資料月份,酪農場代號,乳牛編號,父親精液編號,母親乳牛編號,出生日期,胎次,泌乳天數,...,最近分娩日期,採樣日期,月齡,檢測日期,最後配種日期,最後配種精液,配種次數,前次分娩日期,第一次配種日期,第一次配種精液
0,1,2013,3,A,52612,507H7173,96040545,2011/1/1 00:00,1,78.0,...,2013/1/1 00:00,2013/3/20 00:00,26,2013/3/21 00:00,2015/5/5 00:00,507H11621,1,-1,2013/3/5 00:00,501H8784
1,2,2013,4,A,52612,507H7173,96040545,2011/1/1 00:00,1,107.0,...,2013/1/1 00:00,2013/4/18 00:00,27,2013/4/19 00:00,2015/5/5 00:00,507H11621,1,-1,2013/3/5 00:00,501H8784
2,3,2013,5,A,52612,507H7173,96040545,2011/1/1 00:00,1,140.0,...,2013/1/1 00:00,2013/5/21 00:00,28,2013/5/22 00:00,2015/5/5 00:00,507H11621,2,-1,2013/3/5 00:00,501H8784
3,4,2013,6,A,52612,507H7173,96040545,2011/1/1 00:00,1,175.0,...,2013/1/1 00:00,2013/6/25 00:00,29,2013/6/26 00:00,2015/5/5 00:00,507H11621,2,-1,2013/3/5 00:00,501H8784
4,5,2013,7,A,52612,507H7173,96040545,2011/1/1 00:00,1,210.0,...,2013/1/1 00:00,2013/7/30 00:00,30,2013/7/31 00:00,2015/5/5 00:00,507H11621,2,-1,2013/3/5 00:00,501H8784
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37512,37513,2014,1,C,93184912,14H1999,8.51715e+07,2003/3/8 00:00,8,12.0,...,2014/1/8 00:00,2014/1/20 00:00,130,2014/1/21 00:00,-1,-1,0,2012/11/16 00:00,-1,-1
37513,37514,2014,5,C,93184912,14H1999,8.51715e+07,2003/3/8 00:00,8,137.0,...,2014/1/8 00:00,2014/5/25 00:00,134,2014/5/26 00:00,-1,-1,0,2012/11/16 00:00,-1,-1
37514,37515,2014,6,C,93184912,14H1999,8.51715e+07,2003/3/8 00:00,8,168.0,...,2014/1/8 00:00,2014/6/25 00:00,135,2014/6/26 00:00,-1,-1,0,2012/11/16 00:00,-1,-1
37515,37516,2014,7,C,93184912,14H1999,8.51715e+07,2003/3/8 00:00,8,197.0,...,2014/1/8 00:00,2014/7/24 00:00,136,2014/7/25 00:00,-1,-1,0,2012/11/16 00:00,-1,-1
37516,37517,2014,8,C,93184912,14H1999,8.51715e+07,2003/3/8 00:00,8,229.0,...,2014/1/8 00:00,2014/8/25 00:00,137,2014/8/27 00:00,-1,-1,0,2012/11/16 00:00,-1,-1

In [235]:
Test_ID = [rep_val for rep_val in report['ID'].values if rep_val in submission['ID'].values]
Test_report = report.loc[report['ID'].isin(Test_ID)]
Test_report

,ID,資料年度,資料月份,酪農場代號,乳牛編號,父親精液編號,母親乳牛編號,出生日期,胎次,泌乳天數,...,最近分娩日期,採樣日期,月齡,檢測日期,最後配種日期,最後配種精液,配種次數,前次分娩日期,第一次配種日期,第一次配種精液
479,480,2019,1,A,52631,501H9952,97040152,2011/3/17 00:00,4,435.0,...,2017/11/1 00:00,2019/1/10 00:00,94,2019/1/15 00:00,2019/2/3 00:00,551HO00657,6,2016/8/4 00:00,2018/1/6 00:00,614HO07276
741,742,2019,2,A,52640,501H9952,96040567,2011/4/1 00:00,4,13.0,...,2019/1/29 00:00,2019/2/11 00:00,94,2019/2/12 00:00,2019/2/28 00:00,551HO00695,0,2017/6/17 00:00,2019/2/28 00:00,551HO00695
742,743,2019,3,A,52640,501H9952,96040567,2011/4/1 00:00,4,35.0,...,2019/1/29 00:00,2019/3/5 00:00,95,2019/3/6 00:00,2019/2/28 00:00,551HO00695,1,2017/6/17 00:00,2019/2/28 00:00,551HO00695
743,744,2019,4,A,52640,501H9952,96040567,2011/4/1 00:00,4,70.0,...,2019/1/29 00:00,2019/4/9 00:00,96,2019/4/11 00:00,2019/2/28 00:00,551HO00695,1,2017/6/17 00:00,2019/2/28 00:00,551HO00695
744,745,2019,5,A,52640,501H9952,96040567,2011/4/1 00:00,4,98.0,...,2019/1/29 00:00,2019/5/7 00:00,97,2019/5/9 00:00,2019/2/28 00:00,551HO00695,1,2017/6/17 00:00,2019/2/28 00:00,551HO00695
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37480,37481,2019,6,C,6187446,001HO11511,4.17046e+06,2017/6/1 00:00,1,15.0,...,2019/6/10 00:00,2019/6/25 00:00,24,2019/6/27 00:00,2019/7/24 00:00,001HO12901,0,-1,2019/7/24 00:00,001HO12901
37481,37482,2019,6,C,6187448,001HO11511,3.17231e+06,2017/6/17 00:00,1,22.0,...,2019/6/3 00:00,2019/6/25 00:00,24,2019/6/27 00:00,-1,-1,0,-1,-1,-1
37482,37483,2019,6,C,6187449,001HO11511,2.17684e+06,2017/8/10 00:00,1,21.0,...,2019/6/4 00:00,2019/6/25 00:00,22,2019/6/27 00:00,-1,-1,0,-1,-1,-1
37483,37484,2019,7,C,6187449,001HO11511,2.17684e+06,2017/8/10 00:00,1,51.0,...,2019/6/4 00:00,2019/7/25 00:00,23,2019/7/26 00:00,-1,-1,0,-1,-1,-1
37484,37485,2019,7,C,6187451,001HO11511,2.17682e+06,2017/8/21 00:00,1,15.0,...,2019/7/10 00:00,2019/7/25 00:00,23,2019/7/26 00:00,-1,-1,0,-1,-1,-1

# Extract features

# Quantify features

In [ ]:
def season(time):
    if len(item) == 0:
        return 0
    temp = int(item.split('/')[1])
    if temp >= 1 and temp <= 3:
        return '春'
    elif temp >= 4 and temp <= 6:
        return '夏'
    elif temp >= 7 and temp <= 9:
        return '秋'
    elif temp >= 10 and temp <= 12:
        return '冬'
    else:
        return 0

In [178]:
for i, item in enumerate(birth['分娩日期']):
    birth.loc[i, '分娩日期'] = season(item)
birth

,乳牛編號,分娩日期,乾乳日期,犢牛編號1,犢牛編號2,母牛體重,登錄日期,計算胎次,胎次,分娩難易度,犢牛體型,犢牛性別,酪農場代號
0,87121677,春,-1,-1,-1,-1.0,2013/1/25 00:00,True,2,1.0,-1,-1,B
1,96126940,春,-1,-1,-1,522.0,2013/1/25 00:00,True,2,2.0,-1,-1,B
2,95181708,春,2014/1/3 00:00,2188113,-1,670.0,2013/1/25 00:00,True,5,1.0,-1,-1,C
3,97127665,春,2014/3/12 00:00,-1,-1,-1.0,2013/1/25 00:00,True,3,2.0,-1,-1,B
4,97182634,春,2014/3/25 00:00,-1,-1,630.0,2013/1/25 00:00,True,4,1.0,-1,-1,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3756,5184341,秋,-1,8181409,-1,560.0,2019/7/26 00:00,True,2,1.0,-1,母,C
3757,5184348,秋,-1,-1,-1,580.0,2019/7/26 00:00,True,2,1.0,-1,-1,C
3758,97182634,秋,-1,-1,-1,730.0,2019/7/26 00:00,True,9,1.0,-1,-1,C
3759,99183190,秋,-1,-1,-1,690.0,2019/7/26 00:00,True,7,1.0,-1,-1,C
3760,6187451,秋,-1,8181410,-1,505.0,2019/7/26 00:00,True,1,1.0,-1,母,C

In [69]:
res = pd.merge(birth, breed, on = '乳牛編號')
res = pd.merge(res, report, on = '乳牛編號')
res = pd.merge(res, spec, on = '乳牛編號')
res['分娩日期'][1]

'2013/1/4 00:00'

# Define Model

# Train Model